@import url('https://fonts.googleapis.com/css2?family=Klee+One:wght@600&family=Nunito:wght@200&family=Poiret+One&display=swap');

*{
    padding:0;
    margin:0;
}

button:focus{
    outline: none !important;
}

/*GLOBAL BUTTON AND HEADERS SETTINGS*/
.buttondemo{
    width: 150px;
    height: 75px;
    padding: 10px;
    margin: 2px;
    position: relative;
}
.Header {
    font-family: Nunito;
    font-weight: bold;
    font-size: 50px;
    padding-top: 15px;
}


/*Upper half*/
.row {
    font-family: 'Poiret One';
}
    /*Delphinium*/
    .innercol.left {
        background-color: #E5ECF4 /**/;
        text-align: center;
        padding-bottom: 50px;
    }
    .Header.one {color: #8c85dd;}
    .Delphinium {
        border: 2px solid #C3BEF7;
        color: #C3BEF7;
        font-size: 30px;
        font-weight: bold;
        transition: 0.5s ease all;
    }
    .Delphinium:hover {color: #ffffff;}
    .Delphinium.one:hover {background-color: #C3BEF7;}
    .Delphinium.two:hover {box-shadow: inset 150px 0 0 0 #C3BEF7;}
    .Delphinium.three:hover {box-shadow: inset 0 75px 0 0 #C3BEF7}

    /* Delphinium four*/
    .Delphinium.four {transition: ease-out 0.5s;}
    .Delphinium.four:hover {
        color: #ffffff;
        box-shadow: inset 0 0 75px 75px #C3BEF7;
    }

    .Delphinium.one:active, .Delphinium.two:active, .Delphinium.three:active, .Delphinium.four:active {
        transition: 1ms;
        box-shadow: none;
        background-color: #8A4FFF;
        border-color: #8A4FFF;
    }

/*IM HERE TO HELP THE GUY FIND WHERE THE NEXT SECTION IS
IM BEING HELPFUL. YOU BETTER SAY THANK YOU TO ME, FUTURE ME*/


    /*Amaryllis*/
    .Header.two {color: #da2f26}
    .row.upper .innercol.right {
        background-color: #fdcecc;
        text-align: center;
        padding-bottom: 50px;
    }
    .Amaryllis {
        border: 2px solid #f76f68;
        color: #f76f68;
        border-radius: 10px;
        font-size: 30px;
        font-weight: bold;
        transition: ease-in-out 0.3s;
        z-index: 1;
    }
    
    .Amaryllis:hover {
        color: #ffffff;
    }

    /*Amaryllis one and three*/
    .Amaryllis.one:before {   
        transition: 0.5s all ease;
        position: absolute;
        border-radius: 5px;
        top: 0%;
        left: 50%;
        right: 50%;
        bottom: 0%;
        opacity: 1;
        content:"";
        background-color: #f76f68;
    }
    .Amaryllis.one:hover:before {
        transition: 0.5s all ease;
        left: 0;
        right: 0;
        opacity: 1;
        z-index: -1;
    }
    .Amaryllis.three:before {   
        transition: 0.5s all ease;
        position: absolute;
        border-radius: 5px;
        top: 50%;
        left: 0%;
        right: 0%;
        bottom: 50%;
        opacity: 1;
        content:"";
        background-color: #f76f68;
    }
    .Amaryllis.three:hover:before {
        transition: 0.5s all ease;
        top: 0;
        bottom: 0;
        opacity: 1;
        z-index: -1;
    }

    /*Amaryllis two and four*/
    .Amaryllis.two, .Amaryllis.four {
        z-index: 1;
        background-color: #f76f68;
    }
    .Amaryllis.two:before {   
        transition: 0.5s all ease;
        position: absolute;
        border-radius: 8px;
        top: 0;
        left: 0%;
        right: 0%;
        bottom: 0;
        opacity: 1;
        content:"";
        background-color: #fdcecc;
        z-index:-1;
    }
    .Amaryllis.two:hover:before {
        transition: 0.5s all ease;
        left: 51%;
        right: 51%;
        opacity: 1;
        z-index: -1;
    }
    .Amaryllis.four:after {
        content: "";
        transition: 0.5s all ease;
        position: absolute;
        border-radius: 8px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 1;
        background-color: #fdcecc;
        z-index:-1;
    }
    .Amaryllis.four:hover:after {
        transition: 0.5s all ease;
        top: 51%;
        bottom: 51%;
        opacity: 1;
        z-index: -1;
    }
    /*Active for 1 and 3 */
    .Amaryllis:not(.two, .four):active:before {
        transition: 0.01s;
        background-color: #ee5149;
        border-color: #ee5149;
    }
    /*Active for 2 and 4 */
    .Amaryllis:active {
        transition: 0.01s;
        background-color: #ee5149;
        border-color: #ee5149;
    }


/*IM HERE TO HELP THE GUY FIND WHERE THE NEXT SECTION IS
IM BEING HELPFUL. YOU BETTER SAY THANK YOU TO ME, FUTURE ME*/
/*I RECEIVED, THANK YOU PAST ME, I'LL PASS THIS FOR OUR FUTURE US TOO*/

    /*Nasturtium*/
    .Header.three {color: #ff9735}
    .row.lower .innercol.left {
        background-color: #fae7d1 /**/;
        text-align: center;
        padding-bottom: 50px;
    }
    .Nasturtium {
        border: 2px solid #ffbc64;
        color: #ffbc64;
        font-size: 30px;
        font-weight: bold;
        transition: 0.2s;
    }
    .Nasturtium:hover {
        color: #ffffff;
        background-color:#ffbc64;
    }
    .Nasturtium:active {
        background-color:  #faa72a;
        border-color: #faa72a;
    }
    

/*IM HERE TO HELP THE GUY FIND WHERE THE NEXT SECTION IS
IM BEING HELPFUL. YOU BETTER SAY THANK YOU TO ME, FUTURE ME*/
/*I RECEIVED, THANK YOU PAST ME, I'LL PASS THIS FOR OUR FUTURE US TOO*/
/*THANK YOU GUYS, U GUYS HELPED ME ALOT, THANKS.*/

/*Corsican Hellebore*/
.Header.four {color: #4fec57}
.row.lower .innercol.right {
    background-color: #c5ffc8 /**/;
    text-align: center;
    padding-bottom: 50px;
}
.CorsicanHellebore {
    border: 2px solid #6de973;
    color:#6de973;
    font-size: 30px;
    font-weight: bold;
    transition: 0.2s;
}
.CorsicanHellebore:hover {
    color:#ffffff;
    background-color: #6de973;
}
.CorsicanHellebore:active {
    background-color: #49cf4f;
    border-color: #49cf4f;
}
